# Ignore les données et artefacts
notebooks/mlartifacts/
notebooks/mlruns/
scripts/mlruns/
scripts/mlarifacts/
scripts/*id*.json
*.onnx
*.csv

# Fichiers cachés et temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignorer les tests et docs dans l'image
tests/
docs/
mlruns/ 
outputs/

# DVC
# Ignorer toutes les données dans 'data/'
data/input/*
data/output/*

# Mais ne pas ignorer les fichiers .dvc générés
!data/input/*.dvc
!data/output/*.dvc


models/*
!models/*.dvc
